# https://vercel.com/docs/storage/vercel-postgres
POSTGRES_URL="postgres://default:8yajkRZE5dAl@ep-jolly-haze-a4z1k35b-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:8yajkRZE5dAl@ep-jolly-haze-a4z1k35b-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:8yajkRZE5dAl@ep-jolly-haze-a4z1k35b-pooler.us-east-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:8yajkRZE5dAl@ep-jolly-haze-a4z1k35b.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-jolly-haze-a4z1k35b-pooler.us-east-1.aws.neon.tech"
POSTGRES_PASSWORD="8yajkRZE5dAl"
POSTGRES_DATABASE="verceldb"

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET= # https://generate-secret.vercel.app/32

# https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=