.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.label {
    width: 120px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 35px;
}

.menuNameFieldGroup {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-grow: 1;
}

.menuNameTextField {
    width: 120px;
}

.menuEnglishNameTextField {
    flex-grow: 1;
}

.menuNameTextField :global(.MuiOutlinedInput-root):hover fieldset,
.menuEnglishNameTextField :global(.MuiOutlinedInput-root):hover fieldset {
    border-color: #F80069;
}

.menuNameTextField :global(.MuiOutlinedInput-root):global(.Mui-focused) fieldset,
.menuEnglishNameTextField :global(.MuiOutlinedInput-root):global(.Mui-focused) fieldset {
    border-color: #F80069;
}
