.searchField {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    flex-grow: 1;
}

.searchCondition {
    width: 100px;
}

.searchCondition :global(.MuiOutlinedInput-input) {
    padding: 5px 14px;
    height: 35px;
    line-height: 35px;
}

.searchValue :global(.MuiOutlinedInput-input) {
    min-width: 100px;
    max-width: 500px;
    padding: 5px 14px;
    height: 35px;
    flex-grow: 1;
}
