.buttonGroup {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 10px;
    width: 100%;
}

.rejectButton {
    border-radius: 4px;
    width: 48%;
    height: 50px;
    font-size: 1.2rem;
}

.rejectButton:global(.MuiButton-contained) {
    background-color: #696868;
    color: #fff;
}

.rejectButton:global(.MuiButton-contained.Mui-disabled) {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
}

.approvalButton {
    border-radius: 4px;
    width: 48%;
    height: 50px;
    font-size: 1.2rem;
}

.approvalButton:global(.MuiButton-contained) {
    background-color: #F80069;
    color: #D5FF2E;
}

.approvalButton:global(.MuiButton-contained.Mui-disabled) {
    color: rgba(0, 0, 0, 0.26);
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.12);
}
